<table class="table table-hover">
  <thead>
    <tr>
      <th>Manufacturer</th>
      <th>Color</th>
      <th>Year</th>
      <th>Milage</th>
      <th>Description</th>
    </tr>
  </thead>
</table>
